body{
  background-color: pink;
}

.fancy{
  color:purple;
  font-family: Courier New;
  padding: 14px;
}

.column{
  float: center;
  width: 50%;
  padding: 20px;
  background: white;
  border: 20px double;
}