.box{
  border: 5px double;
border-color: pink;
padding:5px;
width: 40%;
float: center;
height:850px;
  text-align: center;
}

.heading{
  color:pink;
  text-align: center;
  text-family: Courier New;
  font-size: 40px;
  text-decoration: underline white 5px;  
}

.p{
  font-size:30px;
  font-family: Courier New;
  float:left;
  margin: 50px;
  color:pink;
}